<h1>Admin area</h1>

<% if(messages.error) { %> <%= messages.error%> <%}%>

<main>
  <form action="/admin/login" method="POST">
    <div class="form-group">
      <label for="email">Email cadastrado</label>
      <input
        type="email"
        class="login-form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Digite email"
      />
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="login-form-control"
        id="password"
        name="password"
        placeholder="Senha"
      />
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>

  <br />
  <div>
    <a class="btn btn-outline-info" href="/admin/register" role="button"
      >Registrar</a
    >
  </div>
</main>
