<h1>Register</h1>

<form action="/admin/register/new/user" method="POST" class="form-inline">
  <%- include('crud/_form_fields')%>
  <button type="submit" class="btn btn-primary mb-2">Registrar</button>
</form>

<br />

<a class="btn btn-outline-info" href="/admin/login" role="button"
  >Já tenho login</a
>
