<div class="follow-me">
  <ul>
    <li>
      <small>Follow me</small>
    </li>

    <li>
      <a class="github" target="_blank" href="/Git" title="Follow on GitHub">
        <span>Follow on Github</span>
      </a>
    </li>
    <li>
      <a class="linkedin" target="_blank" href="#" title="Connect on Linkedin">
        <span>Connect on Linkedin</span>
      </a>
    </li>
  </ul>
</div>

<footer class="footer pt-4 border-top">
  <div class="footer_top footer-border">
    <div class="row lets_talk">
      <div class="col-lg-8">
        <div>
          <h3>Alguma duvida? <a href="/contacts">Pergunta ai</a></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 credits xs-margin-top">
        <p>
          Copyright © 2020 Luciano Pacheco • Blumenau-SC • RPA Developer &
          Freelance backend developer
        </p>
      </div>
    </div>
  </div>

  <div class="dummy" style="display: none;">
    <div class="row">
      <div class="col-md-3">
        <div
          class="single_links d-flex justify-content-between align-items-center"
        >
          <span>GitHub</span>
          <a href="#"> <i class="fa fa-behance"></i> </a>
        </div>
      </div>

      <div class="col-md-3">
        <div
          class="single_links d-flex justify-content-between align-items-center"
        >
          <span>Linkedin</span>
          <a href="#"> <i class="fa fa-linkedin"></i> </a>
        </div>
      </div>
    </div>
  </div>
</footer>
