<!-- footer start -->
<footer class="footer pt-4 my-md-5 pt-md-5 border-top">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="lets_talk">
                        <h3>Do you have any Project? <a href="#">Let’s Talk</a> </h3>
                        <p>Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium
                            rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single_links d-flex justify-content-between align-items-center">
                        <span>Whatsapp</span>
                        <a href="#"> <i class="fa fa-behance"></i> </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single_links d-flex justify-content-between align-items-center">
                        <span>Facebook</span>
                        <a href="#"> <i class="fa fa-medium"></i> </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_links d-flex justify-content-between align-items-center">
                        <span>Linkedin</span>
                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                    </div>
                </div>
            </div>
        </div>

</footer>
<!--/ footer end  -->