<!-- footer start -->
<footer class="footer pt-4 my-md-5 pt-md-5 border-top">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="lets_talk">
                        <h3>Você tem algum projeto? <a href="#">Vamos conversar!</a> </h3>
                        <p>Texto sobre forma de entrar em contato, orçamento
                        </p>
                    </div>
                </div>
            </div>

        </div>

</footer>
<!--/ footer end  -->