<footer class="footer pt-4  border-top">
    <div class="footer_top">

        <div class="row lets_talk">
            <div class="col-lg-8">
                <div>
                    <h3>Você tem algum projeto? <a href="/contacts">Vamos conversar!</a> </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 credits xs-margin-top">
                <p>Copyright © 2020 Luciano Pacheco • Blumenau-SC • RPA Developer & Freelance backend developer</p>
            </div>
        </div>

</footer>