<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Meu Portifolio</a>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/projects">Projetos</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/costumers">Clientes</a></li>
            <li><a href="/">Git</a></li>
            <li><a href="#">Contato</a></li>

        </ul>
    </nav>
</header>