<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Meu Portifolio</a>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/">Base conhecimento</a></li>
            <li><a href="/">Git</a></li>


        </ul>
    </nav>
</header>