<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= skill.name %>">
</div>
<div>
    <label>Desription</label>
    <input type="text" name="description" value="<%= skill.description %>">
</div>
<div>
    <label>Knowing since</label>
    <input type="date" name="workingWithSince"
        value="<%= skill.workingWithSince == null ? '': skill.workingWithSince.toISOString().split('T')[0] %>">


</div>


<div>
    <label>Knowlegde level*</label>
    <input type="number" name="knowHowLevel" value="<%= skill.knowHowLevel %>">
</div>

<div>
    <label>Skill Image: 348x225</label>
    <input type="file" name="skillImg" class="filepond">
</div>


<p>*based on my beliefs among other things</p>