<div class="jumbotron">

    <% skills.forEach(skill => { %>
    <div><%= skill.name%></div>
    <div class="btn-row">
        <%- include('../partials/crudBtn', {url:`/skills/${skill.id}`})%>
        <%- include('../partials/deleteForm', {url:`/skills/${skill.id}`})%>
    </div>
    <% }) %>


    <a href="skills/new">Add Skill</a>

</div>>