<main role="main">

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Backend Dev</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mobile dev</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Frontend</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                </div>
            </div>
        </div>
    </div>

</main>

<div role="main">
    <div class="spacing-small-bottom">
        <h2 class="section-title">O que eu faço</h2>

    </div>
    <div class="grid grid--tb1-2 grid--m-1">
        <div class="grid__col grid__col--6">
            <div class="service txt-center">
                <span class="service__icon">
                    Icon
                </span>
                <div class="content-styles">
                    <h3 class="h4">

                        RPA

                    </h3>
                    <p class="txt-large txt-dark">
                        Robotic Process Automation
                    </p>
                    <p>
                        Trabalho como desenvolvedor RPA em tempo integral. Foco em automatizar processos
                        utilizando
                        Uipath. Parece interssante? <a href="#">Ver+</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="grid__col grid__col--6">
            <div class="service txt-center">
                <span class="service__icon">Icon</span>
                <div class="content-styles">
                    <h3 class="h4">

                        Backend

                    </h3>
                    <p class="txt-large txt-dark">
                        Developer
                    </p>
                    <p>
                        Dedico 20h por semana a freelas e/ou trabalhso extras. Atualmente aprendendo Node,
                        express e
                        mongo que é como este site foi feito. Foi tambem uma forma de sair do tutorial-hell,
                        ficou
                        curioso? <a href="#">Ver+</a>
                    </p>
                </div>
            </div>

        </div>


    </div>
</div>

</main>