<div class="download_area">
  <div class="container">
    <div class="row row_index">
      <div class="col-lg-6 col-md-6">
        <div class="download_left">
          <p>
            Atualmente trabalhando em tempo integral como desenvolvedor de
            processos automatizados utilizando
            <a href="https://www.uipath.com/">UiPath</a>. Nos tempos livres
            (20h/semana) freela backend em projeto C#, Sql Server como base de
            dados e Angular JS(1.5) no frontend.
          </p>
          <p>
            Achou interessante ou quer saber mais? Clica no botão aqui embaixo
            ou nas redes socias ali do lado.
          </p>
          <a href="/download" class="boxed-btn3-line">Baixar CV</a>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-6">
        <div class="progress_skills">
          <% skills.forEach(skill => { %>
          <div class="single_progress">
            <div class="label d-flex justify-content-between">
              <span><a href="skills/<%=skill.id%>"><%=skill.name%></a></span>
              <span><%=skill.knowHowLevel%>%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar "
                role="progressbar"
                style="width:<%=skill.knowHowLevel%>%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </div>
  </div>
</div>
