<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Titulo apresentação</h1>
    <p class="lead">Texto de apresentação.</p>
</div>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <p>texto de apresentação falar algumas coisas, projetos já passados(resumir)</p>
                <div class="col-md-4">
                    <a href="#"><small class="text-muted">ver+</small></a>
                </div>




            </div>
        </div>
    </div>
</main>