<div class="jumbotron">

    <% projects.forEach(project => { %>
    <div><%= project.name%></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/projects/<%= project.id%>">Ver +</a>
        <a class="btn btn-primary" href="/projects/<%= project.id%>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url:`/projects/${project.id}`})%>
    </div>
    <% }) %>

    <div id="menu">
        <ul>
            <li><a href="projects/new">Adicionar projeto</a></li>
        </ul>
    </div>
</div>