<h3>form social</h3>
<div>
  <label>Name</label>
  <input type="text" name="name" value="<%= socials.name %>" />
</div>
<div>
  <label>Desription</label>
  <input type="text" name="description" value="<%= socials.description %>" />
</div>

<div>
  <label>URL</label>
  <input type="text" name="url" value="<%= socials.url %>" />
</div>

<div>
  <label>Tip tool</label>
  <input type="text" name="tip" value="<%= socials.tip %>" />
</div>
