<h3>form social</h3>
<div>
  <label>Name</label>
  <input type="text" name="name" value="<%= social.name %>" />
</div>
<div>
  <label>Desription</label>
  <input type="text" name="description" value="<%= social.description %>" />
</div>

<div>
  <label>URL</label>
  <input type="text" name="url" value="<%= social.url %>" />
</div>

<div>
  <label>Tip tool</label>
  <input type="text" name="tip" value="<%= social.tip %>" />
</div>
