<div class="pricing-header mx-auto text-center">
  <h1 class="display-4">Clientes</h1>
  <p class="lead">Clientes e projetos trabalhados.</p>
</div>

<main role="main">
  <div class="card-group">
    <div class="row">
      <% costumers.forEach(costumer => { %>
      <div class="col-sm-6">
        <div class="card">
          <img
            class="card-img-top"
            src="/imgs/dummyCardsvg.svg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title"><%=costumer.name%></h5>
            <p class="card-text">
              <%= costumer.jobDescription%>
            </p>
            <p class="card-text">
              <small class="text-muted"
                ><a href="costumers/<%=costumer.id%>">Ver+</a></small
              >
            </p>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</main>
