<div class="jumbotron">
    <% costumers.forEach(costumer => { %>
    <div><%= costumer.name%></div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <%- include('../partials/crudBtn', {url:`/costumer/${costumer.id}`})%>
        <%- include('../partials/deleteForm', {url:`/costumers/${costumer.id}`})%>
    </div>


    <% }) %>


    <a href="costumers/new">Add costumer</a>

</div>