.boxed-btn3-line {
  color: #db9a64 !important;
  display: inline-block;
  padding: 17px 49px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid #db9a64;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.slider_area .single_slider .my_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.row_index {
  padding: 0.5em;
  margin-top: 2em;
}

.download_area {
  padding: 0.5em 0 90px 0;
  background: white;
}

.download_area .download_text h3 {
  font-size: 36px;
  color: black;
  line-height: 46px;
  margin-bottom: 60px;
}

.download_area .download_left {
  margin-bottom: 30px;
}

.download_area .download_left p {
  font-size: 16px;
  line-height: 28px;
  color: black;
  margin: 20px 0;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: black;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}

.download_area .download_left .boxed-btn3-line {
  margin-top: 28px;
}

.boxed-btn3-line {
  color: #db9a64 !important;
  display: inline-block;
  padding: 17px 49px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid #db9a64;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.download_area .progress_skills .single_progress {
  margin-bottom: 33px;
}

.download_area .progress_skills .single_progress .label {
  margin-bottom: 16px;
}

.download_area .progress_skills .single_progress .label span {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.download_area .progress_skills .single_progress .progress {
  height: 6px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: eef0f1;
  border-radius: 5px;
}

.download_area .progress_skills .single_progress .progress .progress-bar {
  background: #db9a64;
  border-radius: 5px;
}
