<div class="col-md-12 text-center padding-top">
    <h1 class="hidden-sm hidden-xs border-bottom">

        Robotic Process Automation developr & Freelance Developer atuando em Blumenau-SC, Brasil.
        <br>
        Vasta experencia em desenvolvimento C#.NET, SQL Server e avançando para ter mais uma stack em front :)!

    </h1>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="row">
            <div class="col-md-12 margin-top">
                <img class="img-center img-responsive" src="/imgs/city-logo.jpg" alt title>

            </div>
            <div class="wrapper text-center">
                <h2 class="margin-bottom">Da um toque!</h2>
                <p>Horario comercial das 08:00 as 18:00 em dias da semana. Morando atualmente em Blumenau-SC, Brasil.
                </p>

            </div>
            <p class="padding-bottom"></p>

        </div>
    </div>
    <div class="col-md-8 col-sm-8 margin-top">
        <div class="wrapper padding-bottom">
            <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">

                <div class="cform_heading">
                    <h3 class="gform_title h2">Alguma pergunta? Preenche aqui embaixo</h3>
                </div>
                <div class="cform_body">
                    <ul class="cform_body">

                    </ul>

                </div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nome</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">De onde voce fala?</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="De muito longe...">
                    </div>


                    <div class="form-row">
                        <label for="exampleFormControlTextarea1">Mensagem</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

</div>